[submodule "vendor/google/benchmark"]
	path = vendor/google/benchmark
	url = https://github.com/google/benchmark
[submodule "vendor/catchorg/Catch2"]
	path = vendor/catchorg/Catch2
	url = https://github.com/catchorg/Catch2.git
